extends ./partials/base.pug

block content

  .banner-about
   .container
    .banner-text
     h1= 'about us'

  .container
   .row
    .box-about
     .col-md-6.col-sm-12
      img(src='assets/images/about-story.jpg')
     .col-md-6.col-sm-12
      h2= 'Our Story'
      p
       |Waltt Group Inc., founded in 1992 and headquartered in Toronto, ON, Canada is an investment company with a diversified portfolio spanning a multitude of industries across the Globe. Waltt Group has partnered up with large urban design firms to develop real estate projects in Vancouver and Toronto, most recently Pure West mid-rise luxury condominiums. For more information on past and future projects please contact us at info@waltt.ca.
   .row
    .wrap
     .box-about-right
      .col-md-6.col-sm-12
       h2= 'Our Capabilities'
       p
        |Waltt Group is constantly expanding with investments in a variety of industries including, but not limited to, real estate development, healthcare, and international trading. Our Capabilities include: Real Estate Development, Construction, Marketing and Sales and Property Management.
      .col-md-6.col-sm-12
       img(src='assets/images/about-capability.jpg')

   .row
    .box-about
     .col-md-6.col-sm-12
      img(src='assets/images/about-people.jpg')
     .col-md-6.col-sm-12
      h2= 'Our People'
      p
       |We are a powerful team made up of professional elites and experienced investors with more than 20 years of experience in a multitude of industries. Talent, vision and selflessness is the driving force of our enterprises development. At Waltt Group, we revere the spirit of "sharing, co-operating, and creating". For more information regarding our team and career opportunities, please send your inquiry to info@waltt.ca.