extends ./partials/base.pug

block content
 
 .container
  .row
   .col-md-12.col-sm-12
    iframe(width="100%", height="425", frameborder="0", style="border:0", src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJGbtb5TQrK4gRjCEdJJIqlq4&key=AIzaSyDXnx-Cw1l8Czj47PJLaLU5F9OPOJ9sHpk", allowfullscreen)

  .row
   .col-md-6.col-sm-12
    h1= 'Contact'
    .text-left
     p
      |info@waltt.ca
     p
      |28 Fulton Way, Unit 200
     p
      |Richmond Hill, L4B 1J5
     p
      |Canada
     p
      |905-875-9851
   .col-md-6.col-sm-12