extends ./partials/base.pug

block content
 
 .banner-projects
  .container
   .banner-text
    h1= 'Our Projects'

 .container
  each project in projects
   .row
    .project-box
     .col-md-4.col-sm-12
      img(src='assets/images/'+project.file)
     .col-md-8.col-sm-12
      h2
       |#{project.name}
      p
       |#{project.desc}
