@import 'bs';
@import 'homepage';
@import 'variables';


//== classes to be extended by other classes

%strip {
//position: absolute;
  width: 100%;
  left: 0;
  display: block;

}

%parallax {
   /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}

//== MISC (buttons,etc.)

#btn-home-service {
  border-radius: 0;
  padding: 18px 50px;
  margin-bottom: 40px;
  font-size: 1.8em;

  &:hover {
    background-color: $home-icon;
  }
}

#btn-home-partner {
  @extend #btn-home-service;
  background-color: #ffffff;
  color: #000000;
  margin-top: 50px;
}

//== header classes

.banner {
  @extend %strip;
  padding-top: 30px;
  padding-bottom: 20px;
  
  &.low {
    background-color: $nav-base;
    padding: 0;  
    height: 100%;
  }
}

#nav-strip {
  margin-bottom: 0;
}

#menu {
  color: $nav-text;
  font-size: 1.3em;
  &:hover, &:focus {
    color: $nav-text-hover;
  }
}

#header-box {
  padding: 0;
  margin: 0;
  background-color: $nav-text;
}

#header-text {
  margin-top: 10%;
  text-indent: 18px;
  font-size: 3em;
}

//== body classes

html {
  height: 100%;
}

body {
  display: flex;
  flex-directiohn: column;
  height: 100vh;	
}

.body-page {
 // margin-top: 14%;
}

.banner-image-home {
  @extend %parallax;	
	/* The image used */
  background-image: url('images/banner-home.jpg');

    /* Set a specific height */
  //height: 835px;

  margin-bottom: 10px; 


  h1 {
    color: $header-base;
    text-align: center;
    font-size: 5.5em;
    display: block;
    padding-top: 16%;
    padding-bottom: 16%;
    text-indent: -5%;
    text-transform: uppercase;

    .slogan {
      text-indent: 15%;
      display: block;
    }
  }

}

.content {
  flex: 1 0 auto;
  padding: 0;
}

.header-home-black {
  font-size: 4.5em;
  margin: 30px auto 50px;
}

.home-icon {
  color: $home-icon;
  padding-bottom: 15px;
}

.home-service {
  font-size: 1.5em;
  margin: 15px auto 30px;
}

.back-image-home-story {
  @extend %parallax;	
	/* The image used */
  background-image: url('images/background-story.jpg');

  margin-bottom: 10px; 

  .container {
    color: $header-base;
    padding: 40px 0;

    h1 {
      font-size: 4.5em;
    }

    p {
      font-size: 2.2em;
      width: 60%;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
}

.project-box {
  width: 80%;
  margin: 0 auto 40px;


  img {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.back-image-home-partner {
  @extend .back-image-home-story;
  background-image: none;
  background-color: $home-partner-back;

  img {
    display: block;
    margin: auto;
    width: 90%;
  }

  .project-box {
    margin-top: 40px;
  }

}

.partner {
  height: 150px;
  position: relative;
}

.partner-name {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-right: 10%;
}

//== footer classes


.footer {
  flex-shrink: 0;
  padding: 20px;
}

#footer-up {
  font-size: 1.75em;
  height: 15%;
  margin-top: 20px;
  
  .row {
    padding-top: 25px;
  }
}



